#button {
    color: white;
    font-size: 40px;
    border: 2px none;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    padding: 15px;
    box-shadow: 12px 12px 6px darkblue;
}

#button:hover {
    background-color: lightblue;
    box-shadow: 12px 12px 6px white;
}