.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px
}

.nav a {
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #333333;
}

.nav a:hover {
    color: lightblue;
}