#table {
    border-spacing: 5px;
}

#one {
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 5px;
}

#two {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 5px;
}

#three {
    border-left-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 5px;
}

#four {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin 5px;
}

#five {
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin 5px;
}

#six {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin 5px;
}

#seven {
    border-right-style: solid;
    border-top-style: solid;
    padding: 5px;
    margin: 5px;
}

#eight {
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    padding: 5px;
    margin: 5px;
}

#nine {
    border-left-style: solid;
    border-top-style: solid;
    padding: 5px;
    margin: 5px;
}