div {

}

#one {
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#two {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#three {
    border-left-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#four {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#five {
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#six{
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#seven {
    border-right-style: solid;
    border-top-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#eight {
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}

#nine {
    border-left-style: solid;
    border-top-style: solid;
    padding: 5px;
    margin: 3px;
    border-width: 1px;
}